html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Burger Free";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Yellow-Candy.otf) format(opentype),
    url(../fonts/Yellow-Candy.otf) format(opentype);
}

@font-face {
  font-family: "Friends Zone";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Yellow-Candy.otf) format(opentype),
    url(../fonts/Yellow-Candy.otf) format(opentype);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Burger Free", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #101228;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img,
video {
  display: block;
}

.wrapper {
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  background: #ffde59;
  border: 3px solid #101228;
  font-family: "Burger Free", system-ui;
  font-size: 24px;
  padding: 22px 40px;
  box-shadow: 4px 9px 0px #101228;
  text-decoration: none;
  border-radius: 999px;
  height: 74px;
  transition: background 100ms ease-in-out;
  color: #101228;
  flex-shrink: 0;
}

@media screen and (max-width: 1023.98px) {
  .btn {
    font-size: 18px;
    padding: 16px 28px;
    height: 56px;
    box-shadow: 3px 6px 0px #101228;
  }
}

.btn:hover {
  background: #ffcc00;
}

.btn_icon {
  width: 74px;
  padding: 0;
}

@media screen and (max-width: 1023.98px) {
  .btn_icon {
    width: 56px;
  }

  .btn_icon svg,
  .btn_icon img {
    max-width: 32px;
  }
}

h2 {
  font-size: 128px;
  color: #ffde59;
  text-shadow: #101228 7px 0px 0px, #101228 6.92869px 0.996602px 0px,
    #101228 6.71622px 1.9729px 0px, #101228 6.36692px 2.909px 0px,
    #101228 5.8879px 3.78584px 0px, #101228 5.28893px 4.58555px 0px,
    #101228 4.5822px 5.29183px 0px, #101228 3.78212px 5.8903px 0px,
    #101228 2.90498px 6.36876px 0px, #101228 1.96865px 6.71747px 0px,
    #101228 0.992221px 6.92932px 0px, #101228 -0.00442571px 7px 0px,
    #101228 -1.00098px 6.92806px 0px, #101228 -1.97715px 6.71498px 0px,
    #101228 -2.91303px 6.36508px 0px, #101228 -3.78956px 5.88551px 0px,
    #101228 -4.58889px 5.28603px 0px, #101228 -5.29472px 4.57885px 0px,
    #101228 -5.89269px 3.77839px 0px, #101228 -6.3706px 2.90095px 0px,
    #101228 -6.71871px 1.96441px 0px, #101228 -6.92995px 0.98784px 0px,
    #101228 -6.99999px -0.00885142px 0px, #101228 -6.92743px -1.00536px 0px,
    #101228 -6.71372px -1.98139px 0px, #101228 -6.36324px -2.91705px 0px,
    #101228 -5.88311px -3.79328px 0px, #101228 -5.28313px -4.59223px 0px,
    #101228 -4.57551px -5.29762px 0px, #101228 -3.77466px -5.89507px 0px,
    #101228 -2.89692px -6.37243px 0px, #101228 -1.96016px -6.71995px 0px,
    #101228 -0.983458px -6.93057px 0px, #101228 0.0132771px -6.99999px 0px,
    #101228 1.00974px -6.92679px 0px, #101228 1.98564px -6.71247px 0px,
    #101228 2.92107px -6.36139px 0px, #101228 3.797px -5.88071px 0px,
    #101228 4.59557px -5.28022px 0px, #101228 5.30051px -4.57215px 0px,
    #101228 5.89746px -3.77094px 0px, #101228 6.37426px -2.89289px 0px,
    #101228 6.72119px -1.95591px 0px, #101228 6.93119px -0.979076px 0px,
    #101228 4.68359px 17.5635px 0px;
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 100px;
  }
}

.header {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  padding: 50px 0;
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding: 25px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 1023.98px) {
  .header__container {
    gap: 10px;
  }
}

.header__logo img {
  height: 80px;
}

@media screen and (max-width: 1023.98px) {
  .header__logo {
    margin-right: auto;
  }
}

.header__nav {
  display: flex;
  background: #fff;
  border: 3px solid #101228;
  box-shadow: 4px 9px 0px #101228;
  color: #101228;
  border-radius: 999px;
  overflow: hidden;
  font-size: 24px;
}

.header__nav a {
  padding: 22px 24px;
  transition: background 100ms ease-in-out;
}

.header__nav a:hover {
  background: #edeef8;
}

.header__nav a:first-child {
  padding-left: 40px;
}

.header__nav a:last-child {
  padding-right: 40px;
}

@media screen and (max-width: 1100px) {
  .header__nav {
    position: absolute;
    z-index: 888;
    right: 315px;
    top: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 37px;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 300ms ease-in-out;
  }

  .header__nav a {
    padding: 22px !important;
  }
}

@media screen and (max-width: 1023.98px) {
  .header__nav {
    top: 25px;
    font-size: 18px;
    border-radius: 28px;
    right: 228px;
  }

  .header__nav a {
    padding: 16px !important;
  }
}

@media screen and (max-width: 640px) {
  .header__nav {
    top: 91px;
    right: 10px;
  }
}

.header__burger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 74px;
    padding: 0;
    gap: 5px;
  }

  .header__burger span {
    width: 38px;
    height: 6px;
    background: currentColor;
    border-radius: 99px;
  }
}

@media screen and (max-width: 1023.98px) {
  .header__burger {
    width: 56px;
    gap: 4px;
  }

  .header__burger span {
    width: 24px;
    height: 4px;
  }
}

@media screen and (max-width: 1100px) {
  .header_open .header__nav {
    transform: translateY(0);
  }

  .header_open .header__burger span {
    transition: transform 300ms ease-in-out;
    position: absolute;
  }

  .header_open .header__burger span:nth-child(1) {
    transform: rotate(45deg);
  }

  .header_open .header__burger span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header_open .header__burger span:nth-child(3) {
    display: none;
  }
}

.hero {
  position: relative;
  margin-bottom: 2.5%;
  background: url(../img/hero-background.png) center bottom no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero__bottom {
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  min-width: 1400px;
  z-index: 20;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hero__glare {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  width: 125vw;
  height: 125vw;
  -o-object-fit: cover;
  object-fit: cover;
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  animation: glare 5s linear backwards infinite;
}

.hero__cat {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0);
  width: 360px;
  z-index: 10;
}

.hero__clouds {
  position: absolute;
  z-index: 15;
  width: 100%;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  min-width: 1920px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hero__container {
  padding: 180px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.hero__title {
  max-width: 390px;
  width: 100%;
  margin: 0 auto 320px auto;
  display: block;
  position: relative;
  z-index: 9;
}

@media screen and (max-width: 640px) {
  .hero__title {
    margin: 0 auto 220px auto;
  }
}

.hero__text {
  margin-top: auto;
  width: 100%;
  font-size: 20px;
  font-family: "Friends Zone";
  color: #000;
  line-height: 1.3;
  padding: 16px;
  background: #fff;
  border-radius: 24px;
  border: 4px solid #ffde59;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  z-index: 20;
}

.hero__socials {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 20;
}

.hero__social-btn {
  width: 60px;
  height: 60px;
}

.hero__social-btn svg,
.hero__social-btn img {
  max-width: 32px;
  display: block;
}

@media screen and (max-width: 1023.98px) {
  .hero__social-btn {
    width: 56px;
    height: 56px;
  }

  .hero__social-btn svg,
  .hero__social-btn img {
    max-width: 28px;
    display: block;
  }
}

@keyframes glare {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.about {
  padding: 100px 0 50px 0;
  position: relative;
  z-index: 20;
}

.about__left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.about__right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-width: 90vw;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.about__container {
  display: flex;
  align-items: center;
  gap: 100px;
}

@media screen and (max-width: 1280px) {
  .about__container {
    gap: 50px;
  }
}

@media screen and (max-width: 1023.98px) {
  .about__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .about__container {
    gap: 20px;
  }
}

@media screen and (max-width: 1023.98px) {
  .about__col {
    max-width: 640px;
  }
}

.about__title {
  margin-bottom: 48px;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.about__title img {
  position: absolute;
  left: 105%;
  top: -30%;
}

@media screen and (max-width: 1023.98px) {
  .about__title {
    margin: 0 auto 20px auto;
  }
}

.about__text {
  font-size: 24px;
  line-height: 1.4;
}

@media screen and (max-width: 640px) {
  .about__text {
    font-size: 20px;
  }
}

.about__illustration {
  width: 44%;
  border-radius: 16px;
}

@media screen and (max-width: 1023.98px) {
  .about__illustration {
    max-width: 640px;
    width: 100%;
  }
}

.symbolism {
  padding: 40px 0;
}

.symbolism__video {
  border: 6px solid #ebd3b9;
  background: #ffebd2;
  width: 100%;
  border-radius: 32px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 40px;
}

.symbolism__video video {
  display: block;
  max-width: 640px;
  width: 100%;
}

.symbolism__text {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 1.4;
}

.tokenomics {
  padding: 50px 0;
  position: relative;
}

.tokenomics__left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tokenomics__inner {
  background: linear-gradient(to right, #ffffff 0%, #ffde59 60%, #e5a908 80%);
  background-size: cover;
  border: 6px solid #101228;
  border-radius: 36px;
  display: flex;
  padding: 60px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .tokenomics__inner {
    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .tokenomics__inner {
    padding: 60px 20px;
  }
}

.tokenomics__col {
  padding: 20px 20px 20px 0px;
  width: 66%;
}

@media screen and (max-width: 1280px) {
  .tokenomics__col {
    width: 100%;
    padding: 0;
  }
}

.tokenomics__title {
  font-size: 100px;
  color: #fff;
  margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
  .tokenomics__title {
    font-size: 12.5vw;
    text-align: center;
    text-shadow: #101228 5px 0px 0px, #101228 4.90033px 0.993347px 0px,
      #101228 4.60531px 1.94709px 0px, #101228 4.12668px 2.82321px 0px,
      #101228 3.48353px 3.58678px 0px, #101228 2.70151px 4.20736px 0px,
      #101228 1.81179px 4.6602px 0px, #101228 0.849836px 4.92725px 0px,
      #101228 -0.145998px 4.99787px 0px, #101228 -1.13601px 4.86924px 0px,
      #101228 -2.08073px 4.54649px 0px, #101228 -2.94251px 4.04248px 0px,
      #101228 -3.68697px 3.37732px 0px, #101228 -4.28444px 2.57751px 0px,
      #101228 -4.71111px 1.67494px 0px, #101228 -4.94996px 0.7056px 0px,
      #101228 -4.99147px -0.291871px 0px, #101228 -4.83399px -1.27771px 0px,
      #101228 -4.48379px -2.2126px 0px, #101228 -3.95484px -3.05929px 0px,
      #101228 -3.26822px -3.78401px 0px, #101228 -2.4513px -4.35788px 0px,
      #101228 -1.53666px -4.75801px 0px, #101228 -0.560763px -4.96845px 0px,
      #101228 0.437495px -4.98082px 0px, #101228 1.41831px -4.79462px 0px,
      #101228 2.34258px -4.41727px 0px, #101228 3.17346px -3.86382px 0px,
      #101228 3.87783px -3.15633px 0px, #101228 4.4276px -2.32301px 0px,
      #101228 4.80085px -1.39708px 0px, #101228 4.98271px -0.415447px 0px,
      #101228 4.68359px 8.5635px 0px;
  }
}

.tokenomics__row {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
  .tokenomics__row {
    justify-content: center;
  }
}

.tokenomics__item {
  background: #fff;
  border-radius: 24px;
  border: 5px solid #101228;
  padding: 24px 28px;
  box-shadow: 4px 6px 0px #101228;
}

.tokenomics__item span {
  font-family: "Friends Zone";
  margin-bottom: 10px;
  display: block;
}

.tokenomics__item strong {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tokenomics__item strong img {
  height: 32px;
}

@media screen and (max-width: 640px) {
  .tokenomics__item {
    padding: 24px 16px;
  }
}

.contract {
  background: #fff;
  box-shadow: 4px 9px 0px #101228;
  position: relative;
  height: 74px;
  border-radius: 38px;
  padding: 10px 24px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .contract {
    font-size: 20px;
    padding: 16px;
    height: auto;
  }
}

.contract__contract {
  width: calc(100% - 130px);
  word-break: break-all;
}

@media screen and (max-width: 1023.98px) {
  .contract__contract {
    width: calc(100% - 100px);
  }
}

.contract__btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 38px;
}

.buy {
  padding: 50px 0;
  position: relative;
}

.buy__left {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 500px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.buy__right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 500px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.buy__title {
  margin-bottom: 32px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .buy__title {
    font-size: 80px;
  }
}

.buy__items {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.buy__item {
  width: calc(50% - 10px);
  border: 6px solid #101228;
  box-shadow: 4px 17px 0px #101228;
  padding: 32px;
  border-radius: 32px;
  background: #fff;
  display: flex;
  margin-bottom: 17px;
}

@media screen and (max-width: 1023.98px) {
  .buy__item {
    width: 100%;
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .buy__item {
    padding: 24px 16px;
    border-radius: 24px;
  }
}

.buy__number {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  background: #ffd15b;
  border: 6px solid #101228;
  border-radius: 20px;
  box-shadow: 3px 7px 0px #101228;
  transform: rotate(2.5deg);
  margin-right: 24px;
}

@media screen and (max-width: 640px) {
  .buy__number {
    width: 60px;
    height: 60px;
    font-size: 48px;
    border-width: 4px;
    margin-right: 16px;
  }
}

.buy__text {
  font-family: "Friends Zone";
  font-size: 24px;
  line-height: 1.4;
}

@media screen and (max-width: 640px) {
  .buy__text {
    font-size: 20px;
  }
}

.donations {
  padding: 40px 0;
}

.donations__title {
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 1023.98px) {
  .donations__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 767.98px) {
  .donations__title {
    font-size: 60px;
    text-shadow: #101228 5px 0px 0px, #101228 4.90033px 0.993347px 0px,
      #101228 4.60531px 1.94709px 0px, #101228 4.12668px 2.82321px 0px,
      #101228 3.48353px 3.58678px 0px, #101228 2.70151px 4.20736px 0px,
      #101228 1.81179px 4.6602px 0px, #101228 0.849836px 4.92725px 0px,
      #101228 -0.145998px 4.99787px 0px, #101228 -1.13601px 4.86924px 0px,
      #101228 -2.08073px 4.54649px 0px, #101228 -2.94251px 4.04248px 0px,
      #101228 -3.68697px 3.37732px 0px, #101228 -4.28444px 2.57751px 0px,
      #101228 -4.71111px 1.67494px 0px, #101228 -4.94996px 0.7056px 0px,
      #101228 -4.99147px -0.291871px 0px, #101228 -4.83399px -1.27771px 0px,
      #101228 -4.48379px -2.2126px 0px, #101228 -3.95484px -3.05929px 0px,
      #101228 -3.26822px -3.78401px 0px, #101228 -2.4513px -4.35788px 0px,
      #101228 -1.53666px -4.75801px 0px, #101228 -0.560763px -4.96845px 0px,
      #101228 0.437495px -4.98082px 0px, #101228 1.41831px -4.79462px 0px,
      #101228 2.34258px -4.41727px 0px, #101228 3.17346px -3.86382px 0px,
      #101228 3.87783px -3.15633px 0px, #101228 4.4276px -2.32301px 0px,
      #101228 4.80085px -1.39708px 0px, #101228 4.98271px -0.415447px 0px,
      #101228 4.68359px 8.5635px 0px;
  }
}

@media screen and (max-width: 640px) {
  .donations__title {
    font-size: 48px;
    margin-bottom: 32px;
  }
}

.donations__inner {
  background: linear-gradient(
    to right,
    #87f9dc 0%,
    #87f9dc,
    50%,
    rgba(135, 249, 220, 0) 70%
  );
  position: relative;
  border-radius: 32px;
  padding: 60px;
  border: 6px solid #fab8c9;
}

@media screen and (max-width: 767.98px) {
  .donations__inner {
    padding: 40px;
  }
}

@media screen and (max-width: 640px) {
  .donations__inner {
    padding: 20px;
  }
}

.donations__illustration {
  height: calc(100% + 60px);
  display: block;
  position: absolute;
  border-radius: 0 0 32px 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 640px) {
  .donations__illustration {
    display: none;
  }
}

.donations__list {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  max-width: 700px;
  width: 100%;
  gap: 12px;
}

@media screen and (max-width: 767.98px) {
  .donations__list {
    width: 100%;
    max-width: 100%;
  }
}

.donation {
  background: #dbfff6;
  border: 6px solid #9bcecb;
  padding: 32px;
  border-radius: 32px;
}

@media screen and (max-width: 640px) {
  .donation {
    padding: 16px;
    border-width: 4px;
    border-radius: 24px;
  }
}

.donation__header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (max-width: 767.98px) {
  .donation__header {
    margin-bottom: 8px;
  }
}

.donation__image {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

@media screen and (max-width: 767.98px) {
  .donation__image {
    width: 40px;
    height: 40px;
  }
}

.donation__header-col {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767.98px) {
  .donation__header-col {
    margin: 0 8px;
  }
}

.donation__label {
  font-size: 24px;
  color: #458fff;
  font-family: "Friends Zone";
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 8px;
  display: inline-block;
}

@media screen and (max-width: 767.98px) {
  .donation__label {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.donation__title {
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  display: block;
}

@media screen and (max-width: 767.98px) {
  .donation__title {
    font-size: 16px;
  }
}

.donation__amount {
  padding: 8px 16px 11px;
  border-radius: 16px;
  background: #fab8c9;
  font-size: 44px;
  line-height: 1;
  font-family: "Friends Zone";
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .donation__amount {
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
  }
}

.donation__text {
  font-size: 24px;
  font-family: "Friends Zone";
  line-height: 1.16;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .donation__text {
    font-size: 16px;
  }
}

.exchanges {
  padding: 50px 0;
}

.exchanges__inner {
  background: url(../img/exchanges-background.jpg) no-repeat;
  background-size: cover;
  border-radius: 40px;
  border: 6px solid #101228;
  box-shadow: 5px 9px 0px #171d31;
  padding: 80px;
}

@media screen and (max-width: 1023.98px) {
  .exchanges__inner {
    padding: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .exchanges__inner {
    padding: 40px 20px;
  }
}

.exchanges__col {
  max-width: 760px;
  margin-left: auto;
  width: 100%;
}

.exchanges__title {
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 640px) {
  .exchanges__title {
    font-size: 12.5vw;
    text-align: center;
    text-shadow: #101228 5px 0px 0px, #101228 4.90033px 0.993347px 0px,
      #101228 4.60531px 1.94709px 0px, #101228 4.12668px 2.82321px 0px,
      #101228 3.48353px 3.58678px 0px, #101228 2.70151px 4.20736px 0px,
      #101228 1.81179px 4.6602px 0px, #101228 0.849836px 4.92725px 0px,
      #101228 -0.145998px 4.99787px 0px, #101228 -1.13601px 4.86924px 0px,
      #101228 -2.08073px 4.54649px 0px, #101228 -2.94251px 4.04248px 0px,
      #101228 -3.68697px 3.37732px 0px, #101228 -4.28444px 2.57751px 0px,
      #101228 -4.71111px 1.67494px 0px, #101228 -4.94996px 0.7056px 0px,
      #101228 -4.99147px -0.291871px 0px, #101228 -4.83399px -1.27771px 0px,
      #101228 -4.48379px -2.2126px 0px, #101228 -3.95484px -3.05929px 0px,
      #101228 -3.26822px -3.78401px 0px, #101228 -2.4513px -4.35788px 0px,
      #101228 -1.53666px -4.75801px 0px, #101228 -0.560763px -4.96845px 0px,
      #101228 0.437495px -4.98082px 0px, #101228 1.41831px -4.79462px 0px,
      #101228 2.34258px -4.41727px 0px, #101228 3.17346px -3.86382px 0px,
      #101228 3.87783px -3.15633px 0px, #101228 4.4276px -2.32301px 0px,
      #101228 4.80085px -1.39708px 0px, #101228 4.98271px -0.415447px 0px,
      #101228 4.68359px 8.5635px 0px;
  }
}

.exchanges__list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .exchanges__list {
    gap: 6px;
  }
}

.exchanges__item {
  max-width: calc(33.3333333333% - 8px);
  width: auto;
  background: #fff;
  border: 3px solid #171d31;
  padding: 16px 32px;
  border-radius: 999px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms ease-in-out;
}

.exchanges__item img {
  max-width: 100%;
  max-height: 100%;
}

.exchanges__item:hover {
  background: #eee;
}

@media screen and (max-width: 767.98px) {
  .exchanges__item {
    padding: 16px 16px;
    max-width: calc(50% - 6px);
  }
}

@media screen and (max-width: 640px) {
  .exchanges__item {
    max-width: calc(50% - 3px);
  }
}

@media screen and (max-width: 480px) {
  .exchanges__item {
    height: auto;
  }
}

.faq {
  position: relative;
  overflow: hidden;
  padding: 100px 0 70px 0;
  background: #e29f2f;
  border-radius: 60px 60px 0 0;
}

@media screen and (max-width: 1600px) {
  .faq {
    border-radius: 40px 40px 0 0;
  }
}

.faq__container {
  position: relative;
  z-index: 5;
}

.faq__col {
  margin-left: auto;
  max-width: 800px;
  width: 100%;
}

.faq__title {
  font-size: 128px;
  color: #fff;
  margin-bottom: 40px;
}

@media screen and (max-width: 640px) {
  .faq__title {
    text-align: center;
    font-size: 90px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.accordion {
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
  border: 3px solid #101228;
  transition: box-shadow 200ms ease-in-out;
}

.accordion__header {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 24px;
}

@media screen and (max-width: 767.98px) {
  .accordion__header {
    padding: 20px;
  }
}

.accordion__title {
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .accordion__title {
    font-size: 20px;
  }
}

.accordion__icon {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion__icon::after,
.accordion__icon::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 5px;
  border-radius: 5px;
  background: currentColor;
}

.accordion__icon::before {
  transform: rotate(90deg);
  transition: transform 200ms ease-in-out;
}

.accordion__body {
  font-size: 20px;
  font-family: "Friends Zone";
  line-height: 1.4;
  max-height: 0px;
  transition: max-height 300ms ease-in-out;
}

@media screen and (max-width: 767.98px) {
  .accordion__body {
    font-size: 20px;
  }
}

.accordion__body > p {
  padding: 0 24px 24px 24px;
}

.accordion_open {
  box-shadow: 4px 9px 0px #101228;
}

.accordion_open .accordion__icon::before {
  transform: rotate(0deg);
}

.accordion_open .accordion__body {
  max-height: var(--body-height, 500px);
}

.footer {
  padding: 50px 0;
  border-radius: 32px 32px 0 0;
  margin-top: -32px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: -32px;
  background: #fff;
}

@media screen and (max-width: 1600px) {
  .footer {
    border-radius: 24px;
    margin-top: -24px;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 1023.98px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__logo img {
  height: 80px;
}

.footer__disclaimer {
  text-align: center;
  width: 33%;
  font-size: 2em;
  line-height: 1.2;
  color: #2f2f2f;
  font-family: "Friends Zone";
}

@media screen and (max-width: 1023.98px) {
  .footer__disclaimer {
    font-size: 1.5em;
    max-width: 480px;
    width: 100%;
    text-align: center;
  }
}

.footer__socials {
  display: flex;
  gap: 10px;
}

.footer__social-btn {
  background: #fff;
}

.footer__social-btn:hover {
  background: #fafafa;
}

.footer__btn {
  background: #fff;
}

.footer__btn:hover {
  background: #fafafa;
}

/*# sourceMappingURL=main.css.map */
